body {
    margin: 0px;
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
    background: linear-gradient(to bottom, #a8edea, #fed6e3);
}

/* MENU HEADER */
header{
    border: 2px;
    border-style:solid;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-color: black;
    background: #00b4d8;
    position: fixed;
    width: -moz-available;
    width: -webkit-fill-available;
    z-index: 1000;
}

header nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
}

header nav div:last-child{
    display: flex;
    justify-content: flex-end;
    gap: 2vw;
    position: relative;
    width: auto;
    top: 1vh;
    right: 5vw;
    font-size: 3ch;
    text-decoration:none;
    height: fit-content;
}

header nav div:last-child a{
    display: inline;
    color: black;
    margin-top: 25px;
    background-color: white;
    font-style: italic;
    text-decoration: none;
    border:2px solid black;
    border-radius:20px;
    padding-left: 10px;
    padding-right: 10px;
}

header nav div:last-child a:hover {
    background-color: lightgray;
}

header img {
    max-width: 128px;
    border-radius: 50%;
    margin: 0.5rem;
}

.placeholder {
    height: 100px;
}



h1{
    text-align: center;
    margin: 2%;
}

/* Formulaires*/

form{
    width: 70vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    padding: 3%;
    box-shadow: gray 0px 8px 24px;
}

input{
    width: 45vw;
    max-width: 45%;
    margin-top: 10px;
    height: 4vh;
}  



section{
	width: 45.8%;
    margin-top: 10px;
}

select{
    width: 63.2%;
    height: 5vh;
    background-color: white;
    border: solid gray 1px;
}

.lvl {
    width: 35%;
}

textarea{
    display: flex;
    width: 30vw;
    height: 30vh;
    margin: auto;
    resize: none;
}

form div{
    width: 100vw;
    margin-top: 40px;
}

button{ 
    margin: auto;
    margin-top: 2%;
    width: 4vw;
    min-width: fit-content;
    position: relative;
    display: block;
    width: 200px;
    height: 36px;
    border-radius: 18px;
    background-color: #1c89ff;
    border: solid 1px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease-in-out;
}
    
button:hover {
      background-color: #006bdd;
      transition: all .1s ease-in-out;
    }

input[type="email"]:not(:placeholder-shown):invalid{
    border-color:tomato;
    background-color: pink;
}

/*footer*/
footer {
    display: flex;
    justify-items: center;
    justify-content: center;
    background: #00b4d8;
    margin-top: 150px;
}


footer div {
    margin: 10px;
    margin-right: 5vw;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px; 
}

footer a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}
  
footer a img {
    width: 24px;
    margin-right: 5px;
}

iframe{
    width: 300px;
    height: 250px;
    margin: 10px;
    margin-left: 5vw;
    border: 2px solid black;
}

@media (max-width: 768px) {
    input, textarea, section{
        width: 100%;
        max-width: 100%;
    }

    textarea{
        height: 15vh;
        width: 98.5%;
    }

    button{
        margin-top: 3%;
    }
	
	footer{
        flex-direction: column;
        align-items: center;
    }

    footer div {
        margin-right: 0vw;
    }

    footer iframe{
        margin-top: 30px;
    }

    /* HEADER */
    header nav div:first-child {
        align-content: center;
    }

    header nav div:last-child {
        font-size: 2ch;
        top: 2vh;
        right: 1%;
    }

    header img {
        width: 100px;
        margin-bottom: 1%;
        margin-left: 3%;
    }

    h1 {
        margin: 7%;
    }
}
